.backstage
	padding-top: 140px
	padding-bottom: 90px
	background: url("../assets/images/backstage/flower_bg.png") no-repeat calc(100% - -10px) 12px
	@media(max-width: 1500px)
		background: transparent
	@media(max-width: 1260px)
		padding-top: 109px
		padding-bottom: 71px
	@media(max-width: 999px)
		padding-top: 69px
		padding-left: 48px
		background: url("../assets/images/backstage/flower_middle.png") no-repeat right -7px
	@media(max-width: 860px)
		padding-left: 24px
	@media(max-width: 639px)
		background: url("../assets/images/backstage/flower_small.png") no-repeat right 38px
	@media(max-width: 576px)
		padding-top: 109px
		padding-left: 11px
		padding-right: 12px
	&__container
		display: flex
		justify-content: space-between
		@media(max-width: 1260px)
			width: 940px
		@media(max-width: 999px)
			width: auto

	&__picture
		width: 609px
		height: 403px
		overflow: hidden
		@media(max-width: 1260px)
			width: 455px
			height: 408px
		@media(max-width: 999px)
			display: none
		img
			width: 100%
			height: 100%
			@media(max-width: 1260px)
				width: auto
				margin-left: -81px
	&__text
		width: 465px
		font-weight: 400
		color: #333B41
		@media(max-width: 1260px)
			width: 455px
		@media(max-width: 576px)
			width: auto
		& > *
			margin: 0
	&__title
		margin-bottom: 22px
		font-size: 48px
		line-height: 120%
		font-weight: 400
		@media(max-width: 1260px)
			margin-top: -10px
			margin-bottom: 23px
		@media(max-width: 576px)
			margin-top: -4px
			margin-bottom: 9px
			max-width: 300px
			font-size: 24px
	&__description
		margin-bottom: 54px
		font-size: 16px
		line-height: 130%
		@media(max-width: 999px)
			margin-left: -4px
			margin-bottom: 29px
		@media(max-width: 576px)
			margin-left: 0
			margin-bottom: 21px
			max-width: 300px
	&__details-title
		margin-bottom: 34px
		font-size: 24px
		font-weight: 400
		@media(max-width: 1260px)
			margin-bottom: 35px
		@media(max-width: 999px)
			margin-bottom: 21px
		@media(max-width: 576px)
			margin-bottom: 10px
	&__details-description
		font-size: 16px
		line-height: 22.4px
		@media(max-width: 1260px)
			width: 98%
		@media(max-width: 999px)
			width: 495px
			margin-left: -4px
			line-height: 22px
		@media(max-width: 576px)
			width: auto
			margin-left: -1px


