.header
	height: 80px
	background-color: #000
	@include header-font(500, 16px)
	position: relative
	z-index: 100
	@media(max-width: 860px)
		height: 34px
		position: fixed
		top: 0px
		left: 0
		right: 0


	&__container
		display: flex
		justify-content: space-between
		align-items: center
		column-gap: 63px
		@media(max-width: 1260px)
			padding-left: 30px
			padding-right: 30px
		@media(max-width: 860px)
			padding-left: 18px
			padding-right: 19px
		@media(max-width: 576px)
			padding-left: 9px
			padding-right: 9px


	&__logo
		margin-top: 1px

	&__burger-button
		display: none
		@media(max-width: 860px)
			display: inline-flex

	&__nav
		display: flex
		justify-content: space-between
		align-items: center
		column-gap: 58px
		height: 52px
		flex-grow: 1
		@media(max-width: 860px)
			display: none

	&__designed-by
		height: 52px
		text-decoration-color: rgba(#E47209, 0.0)
		line-height: 52px
		color: #fff
		transition: all 0.8s
	&__designed-by:visited
		display: block
		color: #fff
	&__designed-by:hover
		text-decoration: underline
		text-decoration-color: rgba(#E47209, 1.0)
		transition: all 0.3s
	&__designed-by:active
		color: #E47209
		text-decoration: none
