.menu
	--menu-height: 52px
	margin: 0
	display: flex
	padding: 0
	list-style-type: none
	font-family: 'Roboto', sans-serif
	column-gap: 58px
	@media(max-width: 1000px)
		column-gap: 48px
	@media(max-width: 860px)
		column-gap: 37px
	@media(max-width: 639px)
		--menu-height: auto
		column-gap: 30px
	&__link
		display: block
		height: 100%
		text-decoration-color: rgba(#FE9013, 0.0)
		@include header-font(500, 16px)
		line-height: var(--menu-height)
		transition: all 0.8s
		position: relative
		left: -20px
		width: calc(100% + 40px)
		text-align: center
	&__link:hover
		text-decoration-color: rgba(#E47209, 1.0)
		transition: all 0.3s
	&__link:active
		color: #E47209
		text-decoration: none
	&__item_active a
		text-decoration: none
		cursor: url("../assets/cursors/bamboo.cur"), default
		background: linear-gradient(to right, #F9804B, #FE9013)
		-webkit-background-clip: text
		-webkit-text-fill-color: transparent










